.section.feature {
  @media screen and (min-width: 768px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
//   padding-top: 60px;

//    {
//     padding-bottom: 0px;
//   }
// }

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item:nth-child(1)::before {
  background-image: url(/images/icon/antenna.svg);
}
.features__item:nth-child(2)::before {
  background-image: url(/images/icon/clock.svg);
}
.features__item:nth-child(3)::before {
  background-image: url(/images/icon/diagram.svg);
}
.features__item:nth-child(4)::before {
  background-image: url(/images/icon/astronaut.svg);
}

.features__item {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    // width: calc((100% - 90px) / 4);
    width: 270px;
    margin-right: 15px;
    margin-left: 15px;
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
  &::before {
    display: block;
    content: "";
    max-width: 480px;
    height: 120px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-background-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

  // &::before {
  //   display: block;
  //   content: "";
  //   width: 270px;
  //   height: 120px;
  //   margin-bottom: 30px;

  //   background-color: var(--secondary-background-color);
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   border-radius: 4px;
  // }

  .features__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  .features__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
