.header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.container.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav_list {
  display: none;

  @media screen and (min-width: 767px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link-current,
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus,
  .nav__link-current {
    color: var(--accent);
  }
}

.nav__link-current::after {
  position: absolute;
  width: 100%;
  content: "";
  background-color: var(--accent);
  height: 4px;
  border: solid 1px var(--accent);
  bottom: 0%;
  left: 0%;
  border-radius: 2px;
}
