.logo__first {
  color: var(--accent);
}

.logo__second {
  color: var(--primary-background-color);
}

.logo {
  display: flex;

  color: var(--title-text-color);
  font-family: raleway;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-decoration: none;
  // @media screen and (min-width: 767px) {
  //   margin-right: 88px;
  // }
  // @media screen and (min-width: 1200px) {
  //   margin-right: 93px;
  //   font-size: 26px;
  //   line-height: 1.2;
  // }
}

.footer__logo {
  display: flex;
  justify-content: center;
  font-family: raleway;
  // display: inline-block;
  // margin-right: 93px;
  color: var(--title-text-color);
  font-size: 24px;
  line-height: 1.15;
  // font-size: 26px;
  // line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
